To use the program, is necessary to create a file named config.json inside the program directory
(but outside include and src directories). This json file must have the following structure:

{
    "srv_name" : "your node name",
    "srv_port" : 00000,
    "srv_ip" : "your.node.ip",
    "broadcast_port" : 00000,
    "broadcast_ip" : "your.local.network.broadcast.ip"
}

